#!/bin/bash
state=$(docker inspect --format "{{ '{{.State.Running}}' }}" "{{dname}}" 2>/dev/null)

if [[ "$state" == "false" ]]; then
  docker rm "{{dname}}"
fi

docker run \
  {% if bg %}-d{% endif %} \
  --name "{{dname}}" \
  {% if rm %}--rm{% endif %} \
  {% if x11 -%}
  -v /tmp/.X11-unix:/tmp/.X11-unix \
  -e "DISPLAY=${DISPLAY}" \
  {% endif -%}
  {% if make_user -%}
  --net host \
  --user "{{uid}}" \
  -v "/etc/group:/etc/group:ro" \
  -v "/etc/passwd:/etc/passwd:ro" \
  -v "/etc/shadow:/etc/shadow:ro" \
  -v "/etc/sudoers.d:/etc/sudoers.d:ro" \
  {% endif -%}
  {% if workdir is string -%}--workdir="{{workdir}}"{% endif %} \
  {% for vol in volumes -%}
  {% if vol is string -%}
  -v "{{vol}}:{{vol}}"
  {%- else -%}
  -v "{{vol.from}}:{{vol.to}}"
  {%- endif %} \
  {% endfor -%}
  {% for dev in devices -%}
  --device {{dev}} \
  {% endfor -%}
  {% for groupAddItem in group_add -%}
  --group-add "{{groupAddItem}}" \
  {% endfor -%}
  {% for flag in docker_flags -%}
  {{flag}} \
  {% endfor -%}
  {{image}} \
  {% for flag in flags -%}
  {{flag}} \
  {% endfor -%}
