# file system             mount point                                                 type      options                                                                     dump pass
{{"%-25s" | format(dev)}} {{"%-35s" | format(storage_mount)}}                         btrfs     rw,noatime,discard,ssd,space_cache                                          0    0
{{"%-25s" | format(dev)}} /                                                           btrfs     rw,noatime,ssd,discard,space_cache,subvol={{"%-33s" | format(root_subvol)}} 0    1
{{"%-25s" | format(dev)}} /home                                                       btrfs     rw,noatime,ssd,discard,space_cache,subvol={{"%-33s" | format(home_subvol)}} 0    0

proc                      /proc                                                       proc      defaults                                                                    0    0
sys                       /sys                                                        sysfs     defaults                                                                    0    0

{% if user != "none" %}
{{"%-25s" | format(dev)}} {{"%-59s" | format(("/home/%s/Documents" | format(user)))}} btrfs     rw,noatime,ssd,discard,space_cache,subvol={{"%-33s" | format(home_subvol)}} 0    0
{% endif %}
